@media screen and (max-width: 576px) {

    header, main {}
    
    .navigations {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 320px;
        padding: 19px 20px 0px;
    }
    
    .icon-text {
        display: flex;
        align-items: center;
        gap: 9px;
        font-size: 15px;
        font-weight: 800;
        width: 250px;
    }

    .travel-png {
        width: 40px;
        height: 33px;
    }

    .navigations ul {
        display: none;
    
    }
    
    .oc-1 {
        color: #FF5400;
    }

    .hamburger {
        display: block;
        width: 24px;
        height: 24px;
    }

/* Banner Related CSS */

.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png) ;
    background-position: center;
    width: 335px;
    border-radius: 16px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 24px;

}

.banner-title {
    color: #FFF;
    font-size: 22px;
    font-weight: 800;
    padding: 32px 64px 8px;

}

.banner-description {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    width: 300px;
    margin: 0px auto 32px;

}

.selector select {
    margin-left: 0;
    border: none;
}

.selector {
    display: inline-flex;
    gap: 24px;
    flex-direction: column;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px 16px;  
    
}

select{
    width: 252px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #fff;
    padding-left: 10px;
    color: rgba(19, 19, 24, 0.5);
    font-size: 16px;
    font-weight: 400;
}

input{
    width: 242px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #fff;
    padding-left: 10px;
    color: rgba(19, 19, 24, 0.5);
    font-size: 16px;
    font-weight: 400;
}

#dropdown, #dropdown-2, #dropdown-3 {
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
}

.find-button {
    background-color: #FF5400;
    padding: 16px 34px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    }

    /*Our Popular Tours Setion*/

    .popular-tours {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 335px;
        margin-top: 20px;
        margin-bottom: 0;
    }
    
    .popular-content {
        width: 335px;
        margin: 20px;
        
    }
    
    .tour-title {
        color: #131318;
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 24px 177px 16px 20px;
    }
    
    .mountain-container {
        margin-left: auto;
        margin-right: auto;
    }

    .mountain {
        width: 335px;
        margin: 15px auto;
    }
}