@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* Shared Styles */

* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
}

.title-description-center {
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.title-description-left {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.primary-button {
    background-color: #FF5400;
    padding: 16px 34px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    }

/* Nav Related CSS */

.navigations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.navigations ul {
    display: flex;
    gap: 44px;
    padding: 50px;
    width: 506px;

}

.navigations ul li {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.navigations ul li a {
    text-decoration: none;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    color: #5A5A5D;
}


.icon-text {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 36px;
    font-weight: 800;
}

.oc-1 {
    color: #FF5400;
}

.hamburger {
    display: none;
}

/* Banner Related CSS */

.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png) ;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    text-align: center;
    margin: 50px auto 100px;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding: 106px 287px 24px;
}

.banner-description {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    width: 652px;
    margin: 0 auto 48px;
    opacity: 0.9;

}

.selector select {
    margin-left: 0;
    border: none;
}

.selector {
    display: inline-flex;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-right: auto;
    margin-left: auto;
    padding: 16px 16px;  
    width: 768;
    
}

input,
select{
    width: 174px;
    border: none;
    bordser-radius: 8px;
    background: #fff;
    padding-left: 10px;
    color: rgba(19, 19, 24, 0.5);
    font-size: 16px;
    font-weight: 400;
}


#where, #dropdown, #dropdown-2, #dropdown-3 {
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
}


/*Our Popular Tours Setion*/

.popular-tours {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 100px auto;
}

.popular-content {
    width: 530px;
}

.tour-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}

/* Choose Your Destination Section */

.destination-content {
    text-align: center;
}

.destination-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.destination-description {
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin: 24px auto 48px;
}

/* Image Grid */

.destination-img div, .ban-ban div{
    font-size: 28px;
    height: 300px;
    margin-right: 20px;
    font-weight: 800px;
    border-radius: 16px;
    background-position: center;
}

.destination-img{
    width: 1210px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    display: grid;
    grid-template-areas: 
    "maldives maldives indonesia indonesia"
    "srilanka n-america n-america kashmir"
    ;
    gap: 20px;
    object-fit: cover;
}

.ban-ban {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 1210px;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    object-fit: cover;

}

.destination-img h3, .ban-ban h3 {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-top: 132px;
    
}

.maldives {
    background-image: url(../Images/Maldives.jpg);
    background-repeat: no-repeat;
    grid-area: maldives;
}

.indonesia {
    background-image: url(../Images/Indonesia.jpg);
    background-repeat: no-repeat;
    grid-area: indonesia;
}

.srilanka {
    background-image: url(../Images/Srilanka.jpg);
    background-repeat: no-repeat;
    grid-area: srilanka;
}   


.n-america {
    background-image: url(../Images/North\ America.jpg);
    background-repeat: no-repeat;
    grid-area: n-america;
}

.kashmir {
    background-image: url(../Images/Kashmir.jpg);
    background-repeat: no-repeat;
    grid-area: kashmir;
}

.bangladesh {
    background-image: url(../Images/Bangladesh.jpg);
    background-repeat: no-repeat;
}

.bandarban {
    background-image: url(../Images/Bandarban.jpg);
    background-repeat: no-repeat;
}

/* Why Choose Us Section */

.choose-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 100px auto 24px;
}

.choose-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 486px;
    margin: 0 auto 48px;
}

.hotels-service {
    display: flex;
    justify-content: space-around;
    width: 1250px;
    margin: 0 auto 24px;

}

.hotel-part {
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.service-part {
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.best-price {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 0 auto 100px;
}

.choose-section  h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-left: 32px;
    margin-bottom: 16px;
}

.choose-section p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    width: 486px;
    margin-left: 32px;
}

.choose-section img {
    margin: 32px;
}