@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* Shared Styles */

* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

.title-description-center {
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
.title-description-left {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

/* Nav Related CSS */

.navigations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.navigations ul {
    display: flex;
    gap: 44px;
    padding: 50px;
    width: 506px;

}

.navigations ul li {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.navigations ul li a {
    text-decoration: none;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    color: #5A5A5D;
}


.icon-text {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 36px;
    font-weight: 800;
}

.oc-1 {
    color: #FF5400;
}

.hamburger {
    display: none;
}

/* Banner Related CSS */

.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png) ;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    text-align: center;
    margin: 50px auto 100px;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding: 106px 287px 24px;
}

.banner-description {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    width: 652px;
    margin: 0 auto 48px;
    opacity: 0.9;

}

.selector select {
    margin-left: 0;
    border: none;
}

.selector {
    display: inline-flex;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-right: auto;
    margin-left: auto;
    padding: 16px 16px;  
    width: 768;
    
}

input,
select{
    width: 174px;
    border: none;
    bordser-radius: 8px;
    background: #fff;
    padding-left: 10px;
    color: rgba(19, 19, 24, 0.5);
    font-size: 16px;
    font-weight: 400;
}


#where, #dropdown, #dropdown-2, #dropdown-3 {
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
}

.find-button {
    background-color: #FF5400;
    padding: 16px 34px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    }

